USE [PBITRANSFORMATION]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 02/09/2024 17:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[CalendarDate] [date] NULL
) ON [PRIMARY]
GO
