USE [PBITRANSFORMATION]
GO
/****** Object:  Table [dbo].[MASTER_DATA]    Script Date: 02/09/2024 17:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_DATA](
	[Novellus_Ref] [varchar](2000) NULL,
	[Private_Investor] [varchar](2000) NULL,
	[Sterling_Or_Euro] [varchar](2000) NULL,
	[Loan_Name] [varchar](2000) NULL,
	[Back2Back_Loan] [varchar](2000) NULL,
	[Linked_Loan] [varchar](2000) NULL,
	[Cross_Collateralised_Loan] [varchar](2000) NULL,
	[Associated_Loan] [varchar](2000) NULL,
	[Loan_Type] [varchar](2000) NULL,
	[Loan_Purpose] [varchar](2000) NULL,
	[Loan_Status] [varchar](2000) NULL,
	[Loan_notes] [varchar](2000) NULL,
	[Initial_Enquiry_Handler] [varchar](2000) NULL,
	[Underwriter] [varchar](2000) NULL,
	[Borrower] [varchar](2000) NULL,
	[Borrower_Contact] [varchar](2000) NULL,
	[Aborted_Reason] [varchar](2000) NULL,
	[Broker] [varchar](2000) NULL,
	[Asset_Type] [varchar](2000) NULL,
	[Asset_Type_Development_End] [varchar](2000) NULL,
	[Total_Number_of_Security_Assets] [varchar](2000) NULL,
	[Security_Address_Line_1] [varchar](2000) NULL,
	[Security_Address_Line_2] [varchar](2000) NULL,
	[Security_Address_Line_3] [varchar](2000) NULL,
	[Security_Town_City] [varchar](2000) NULL,
	[County] [varchar](2000) NULL,
	[Security_Postcode] [varchar](2000) NULL,
	[Lender] [varchar](2000) NULL,
	[Interest_Calculation_Type] [varchar](2000) NULL,
	[Interest_on_Retained_Interest] [varchar](2000) NULL,
	[TermLoans_Table] [varchar](2000) NULL,
	[Interest_Payments] [varchar](2000) NULL,
	[Interest_Income_Accruals_Post_To_1] [varchar](2000) NULL,
	[Interest_Income_Accruals_Post_To_1_Code] [varchar](2000) NULL,
	[Interest_Income_Accruals_Post_To_2] [varchar](2000) NULL,
	[Interest_Income_Accruals_Post_To_2_Code] [varchar](2000) NULL,
	[Interest_Expense_Accruals_Post_To_1] [varchar](2000) NULL,
	[Interest_Expense_Accruals_Post_To_1_Code] [varchar](2000) NULL,
	[Interest_Expense_Accruals_Post_To_2] [varchar](2000) NULL,
	[Interest_Expense_Accruals_Post_To_2_Code] [varchar](2000) NULL,
	[Interest_Calculation_Supported] [varchar](2000) NULL,
	[Capital_Account_Post_To_1] [varchar](2000) NULL,
	[Capital_Account_Post_To_1_Code] [varchar](2000) NULL,
	[Interest_Year_Basis] [varchar](2000) NULL,
	[Interest_Type] [varchar](2000) NULL,
	[Interest_Rate_Change_Frequency] [varchar](2000) NULL,
	[Interest_Rate_Change_Date] [varchar](2000) NULL,
	[Interest_Rate_Type] [varchar](2000) NULL,
	[Bank_Rate] [varchar](2000) NULL,
	[Enquiry_Date] [varchar](2000) NULL,
	[Quoted] [varchar](2000) NULL,
	[Date_Quoted] [varchar](2000) NULL,
	[Quote_Approved_By_1] [varchar](2000) NULL,
	[Quote_Approved_Date_1] [varchar](2000) NULL,
	[Quote_Approved_By_2] [varchar](2000) NULL,
	[Quote_Approved_Date_2] [varchar](2000) NULL,
	[Date_Quote_Expires] [varchar](2000) NULL,
	[Date_Quote_Accepted] [varchar](2000) NULL,
	[App_Fee] [varchar](2000) NULL,
	[App_Amount] [varchar](2000) NULL,
	[Date_App_Fee_Received] [varchar](2000) NULL,
	[Date_App_Form_Received] [varchar](2000) NULL,
	[Date_NBOL_Issued] [varchar](2000) NULL,
	[NBOL_Approved_By_1] [varchar](2000) NULL,
	[NBOL_Approved_Date_1] [varchar](2000) NULL,
	[NBOL_Approved_By_2] [varchar](2000) NULL,
	[NBOL_Approved_Date_2] [varchar](2000) NULL,
	[Date_NBOL_Expiry] [varchar](2000) NULL,
	[Commitment_Fee] [varchar](2000) NULL,
	[ Commitment_Fee_Amount ] [varchar](2000) NULL,
	[Date_NBOL_Signed] [varchar](2000) NULL,
	[Days_Taken_To_Complete_NBOL] [varchar](2000) NULL,
	[Date_Commitment_Fee_Paid] [varchar](2000) NULL,
	[Commitment_Fee_Refund_Period_Start_Date] [varchar](2000) NULL,
	[Commitment_Fee_Refund_Period_Days] [varchar](2000) NULL,
	[Commitment_Fee_Refund_Date] [varchar](2000) NULL,
	[Commitment_Fee_Refund] [varchar](2000) NULL,
	[Date_Valuation_Quoted] [varchar](2000) NULL,
	[Valuer] [varchar](2000) NULL,
	[Valuation_Fee] [varchar](2000) NULL,
	[Date_Valuation_Accepted] [varchar](2000) NULL,
	[Date_Valuation_Fee_Paid_Client] [varchar](2000) NULL,
	[Date_Valuation_Fee_Paid_Novellus] [varchar](2000) NULL,
	[Date_Valuation_Instructed] [varchar](2000) NULL,
	[Date_Valuation_Inspection] [varchar](2000) NULL,
	[Date_Valuation_Completed] [varchar](2000) NULL,
	[QS_AM] [varchar](2000) NULL,
	[Date_QS_AM_Quote] [varchar](2000) NULL,
	[Date_QS_AM_Appointed] [varchar](2000) NULL,
	[Date_QS_AM_Fee_Received] [varchar](2000) NULL,
	[Date_QS_AM_Target_Date_Report] [varchar](2000) NULL,
	[Date_QS_AM_Inspection] [varchar](2000) NULL,
	[Date_QS_AM_Report_Issued] [varchar](2000) NULL,
	[Days_Taken_To_Issue_QS_AM_Report] [varchar](2000) NULL,
	[Lawyer] [varchar](2000) NULL,
	[Date_Lawyer_Quote] [varchar](2000) NULL,
	[Date_Lawyer_Undertaking_Received] [varchar](2000) NULL,
	[Lawyer_Response_Time] [varchar](2000) NULL,
	[Date_Report_On_Title_Received] [varchar](2000) NULL,
	[Insurance_Renewal_Date] [varchar](2000) NULL,
	[Insurance_Novellus_Interest] [varchar](2000) NULL,
	[Date_Estimated_Completion] [varchar](2000) NULL,
	[Gross_Loan] [varchar](2000) NULL,
	[Total_Expected_Valuation] [varchar](2000) NULL,
	[Gross_LTV] [varchar](2000) NULL,
	[Rate_Per_Month] [varchar](2000) NULL,
	[Bank_Rate_Quote] [varchar](2000) NULL,
	[Total_Rate_Per_Month] [varchar](2000) NULL,
	[Term_Months] [varchar](2000) NULL,
	[Build_Drawdown_Number] [varchar](2000) NULL,
	[Total_Interest] [varchar](2000) NULL,
	[Arrangement_Fee_Percentage] [varchar](2000) NULL,
	[Arrangement_Fee] [varchar](2000) NULL,
	[Legal_Fees] [varchar](2000) NULL,
	[Title_Insurance] [varchar](2000) NULL,
	[Broker_Fee_Percentage] [varchar](2000) NULL,
	[Broker_Fee] [varchar](2000) NULL,
	[Novellus_Monitoring_Fee] [varchar](2000) NULL,
	[Bank_Transfer_Fees] [varchar](2000) NULL,
	[Exit_Fee_Percentage] [varchar](2000) NULL,
	[Exit_Fee] [varchar](2000) NULL,
	[Redemption_Fee] [varchar](2000) NULL,
	[Fees_Added] [varchar](2000) NULL,
	[Net_Loan] [varchar](2000) NULL,
	[Construction_Cost_Borrower] [varchar](2000) NULL,
	[Construction_Cost_Underwriter] [varchar](2000) NULL,
	[Gross_Loan_Actual] [varchar](2000) NULL,
	[Construction_Cost_Actual] [varchar](2000) NULL,
	[Gross_Day_1_Actual] [varchar](2000) NULL,
	[Valuation_Day_1] [varchar](2000) NULL,
	[Valuation_Actual] [varchar](2000) NULL,
	[GROSS DRAWN TO DATE] [varchar](2000) NULL,
	[Current_Valuation] [varchar](2000) NULL,
	[AS IS LTV] [varchar](2000) NULL,
	[Gross_LTV_Day_1] [varchar](2000) NULL,
	[Gross_LTV_Actual] [varchar](2000) NULL,
	[Rate_Annualised_Actual] [varchar](2000) NULL,
	[Rate_Per_Month_Actual] [varchar](2000) NULL,
	[Bank_Rate_Actual] [varchar](2000) NULL,
	[Total_Rate_Per_Month_Actual] [varchar](2000) NULL,
	[Floor_Actual] [varchar](2000) NULL,
	[Term_Months_Actual] [varchar](2000) NULL,
	[Total_Interest_Actual] [varchar](2000) NULL,
	[Compliance_Fee_Actual] [varchar](2000) NULL,
	[Arrangement_Fee_Percentage_Actual] [varchar](2000) NULL,
	[Arrangement_Fee_Actual] [varchar](2000) NULL,
	[Legal_Fees_Actual] [varchar](2000) NULL,
	[Title_Insurance_Actual] [varchar](2000) NULL,
	[Broker_Fee_Percentage_Actual] [varchar](2000) NULL,
	[Broker_Fee_Actual] [varchar](2000) NULL,
	[Initial_AM_Report_Fee_Actual] [varchar](2000) NULL,
	[Subsequent_AM_Fee_Per_Draw] [varchar](2000) NULL,
	[AM_Monitoring_Fee_Actual] [varchar](2000) NULL,
	[Estimated_AM_Monitoring_Fees] [varchar](2000) NULL,
	[Initial_QS_Fee_Actual] [varchar](2000) NULL,
	[Subsequent_QS_Fee_Per_Draw] [varchar](2000) NULL,
	[QS_Monitoring_Fee_Actual] [varchar](2000) NULL,
	[Estimated_QS_Monitoring_Fees] [varchar](2000) NULL,
	[Novellus_Monitoring_Fees_Initial] [varchar](2000) NULL,
	[Novellus_Monitoring_Fees_Per_Draw] [varchar](2000) NULL,
	[Novellus_Monitoring_Fees_Drawdown] [varchar](2000) NULL,
	[Novellus_Monitoring_Fees_Asset_Management] [varchar](2000) NULL,
	[Estimated_Novellus_Monitoring_Fees] [varchar](2000) NULL,
	[Site_Visit_Fee] [varchar](2000) NULL,
	[Bank_Transfer_Fee_Actual] [varchar](2000) NULL,
	[Term_ExitFee1_Percentage_Actual] [varchar](2000) NULL,
	[Term_ExitFee1_Date_Actual] [varchar](2000) NULL,
	[Term_ExitFee2_Percentage_Actual] [varchar](2000) NULL,
	[Term_ExitFee2_Date_Actual] [varchar](2000) NULL,
	[Term_ExitFee3_Percentage_Actual] [varchar](2000) NULL,
	[Term_ExitFee3_Date_Actual] [varchar](2000) NULL,
	[Term_ExitFee4_Percentage_Actual] [varchar](2000) NULL,
	[Term_ExitFee4_Date_Actual] [varchar](2000) NULL,
	[Term_ExitFee5_Percentage_Actual] [varchar](2000) NULL,
	[Term_ExitFee5_Date_Actual] [varchar](2000) NULL,
	[Exit_Fee_Percentage_Actual] [varchar](2000) NULL,
	[Exit_Fee_Actual] [varchar](2000) NULL,
	[Redemption_Fee_Percentage_Actual] [varchar](2000) NULL,
	[Redemption_Fee_Actual] [varchar](2000) NULL,
	[Redemption_Fee_Owed] [varchar](2000) NULL,
	[Receiver_Fees_Actual] [varchar](2000) NULL,
	[Default_Interest_Calculation_Type] [varchar](2000) NULL,
	[Contractual_Default_Interest] [varchar](2000) NULL,
	[Default_Interest_Percentage_Actual] [varchar](2000) NULL,
	[Default_Loan_Amount] [varchar](2000) NULL,
	[Default_Interest_Actual] [varchar](2000) NULL,
	[Default_Interest_Actual_To_Date] [varchar](2000) NULL,
	[Fees_Added_Actual] [varchar](2000) NULL,
	[Interest_Day_1_Actual] [varchar](2000) NULL,
	[Net_Day_1_Actual] [varchar](2000) NULL,
	[Net_Day_1_Actual_CashBook] [varchar](2000) NULL,
	[Net_Loan_Actual] [varchar](2000) NULL,
	[Credit_Signed_Off_By_1] [varchar](2000) NULL,
	[Credit_Sign_Off_Date_1] [varchar](2000) NULL,
	[Credit_Sign_Off_By_2] [varchar](2000) NULL,
	[Credit_Sign_Off_Date_2] [varchar](2000) NULL,
	[Completion_Date] [varchar](2000) NULL,
	[Contractual_Start_Date] [varchar](2000) NULL,
	[Contractual_End_Date] [varchar](2000) NULL,
	[Redemption_Date] [varchar](2000) NULL,
	[Redemption_Date_For_Reporting] [varchar](2000) NULL,
	[ Extra_Redemption_Fees ] [varchar](2000) NULL,
	[ Admin_fees_actual ] [varchar](2000) NULL,
	[ Planning_report_fees_actual ] [varchar](2000) NULL,
	[ Legal_fees_extension ] [varchar](2000) NULL,
	[ Legal_fees_lease_consent ] [varchar](2000) NULL,
	[ Legal_fees_redemption ] [varchar](2000) NULL,
	[ Legal_fees_Ukopinion ] [varchar](2000) NULL,
	[ Legal_fees_additional_drawdowns ] [varchar](2000) NULL,
	[ Legal_fees_duty_of_care ] [varchar](2000) NULL,
	[ Legal_fees_receiver ] [varchar](2000) NULL,
	[ Legal_fees_recovery ] [varchar](2000) NULL,
	[ Legal_fees_enforcement ] [varchar](2000) NULL,
	[ Redemption_Statement_Fee_Actual ] [varchar](2000) NULL,
	[ Novellus_lease_consent_fees ] [varchar](2000) NULL,
	[ Account_statement_fees ] [varchar](2000) NULL,
	[ Arrears_fees ] [varchar](2000) NULL,
	[ Repossessed_property_insurance_fees ] [varchar](2000) NULL,
	[ Early_repayment_charge_fees ] [varchar](2000) NULL,
	[ Eviction_cancellation_fees ] [varchar](2000) NULL,
	[ Formal_demand_notice_fees ] [varchar](2000) NULL,
	[ Monthly_default_charge_fees ] [varchar](2000) NULL,
	[ Repossession_fees ] [varchar](2000) NULL,
	[ Reference_fees ] [varchar](2000) NULL,
	[ Revaluation_fees ] [varchar](2000) NULL,
	[ Charge_consent_fees ] [varchar](2000) NULL,
	[ Default_Yes_No ] [varchar](2000) NULL,
	[Default_Start_Date] [varchar](2000) NULL,
	[Default_End_Date] [varchar](2000) NULL,
	[Default_Loan_Amount_2] [varchar](2000) NULL,
	[Default_Start_Date_2] [varchar](2000) NULL,
	[Default_End_Date_2] [varchar](2000) NULL,
	[Extension_Y N] [varchar](2000) NULL,
	[Extension_Start_Date] [varchar](2000) NULL,
	[Extension_End_Date] [varchar](2000) NULL,
	[Extension_Rate_PCM] [varchar](2000) NULL,
	[Extension_Loan_Amount] [varchar](2000) NULL,
	[Extension_Interest_Actual] [varchar](2000) NULL,
	[Extension_Interest_Actual_To_Date] [varchar](2000) NULL,
	[Extension_Fee_Percentage] [varchar](2000) NULL,
	[Total_Extension_Fee] [varchar](2000) NULL,
	[Notification_Date] [varchar](2000) NULL,
	[Notice_Period_Days] [varchar](2000) NULL,
	[Minimum_Term_Days] [varchar](2000) NULL,
	[Serviced_Interest_Payment_Day] [varchar](2000) NULL,
	[Serviced_Capital_Payment_Day] [varchar](2000) NULL,
	[Day_1_Net_Loan_Advance] [varchar](2000) NULL,
	[Build_Drawdown_Number_Actual] [varchar](2000) NULL,
	[Drawdown_Tranche] [varchar](2000) NULL,
	[Nonutilisation_Fees_Actual] [varchar](2000) NULL,
	[Notes] [varchar](2000) NULL,
	[Square_Footage] [varchar](2000) NULL,
	[Price_Per_Square_Foot] [varchar](2000) NULL,
	[Total_Spend_To_Date] [varchar](2000) NULL,
	[Estimated_Construction_Time] [varchar](2000) NULL,
	[Estimated_Sale_time] [varchar](2000) NULL,
	[Constuction_Type] [varchar](2000) NULL,
	[Construction_Style] [varchar](2000) NULL,
	[Number_Of_Units] [varchar](2000) NULL,
	[Number_Of_Floors] [varchar](2000) NULL,
	[Height_Of_Building] [varchar](2000) NULL,
	[Ledger_Code] [varchar](2000) NULL,
	[Start_Date] [varchar](2000) NULL,
	[Term_Date] [varchar](2000) NULL,
	[Funder] [varchar](2000) NULL,
	[Funder_Arrangement_Fee_Pct_Actual] [varchar](2000) NULL,
	[Funder_Arrangement_Fee_Amount_Actual] [varchar](2000) NULL,
	[Funder_Interest_Calculation_Type] [varchar](2000) NULL,
	[Funder_Interest_Payments] [varchar](2000) NULL,
	[Funder_Interest_Rate_Change_Frequency] [varchar](2000) NULL,
	[Funder_Interest_Rate_Type] [varchar](2000) NULL,
	[Funder_Bank_Rate] [varchar](2000) NULL,
	[Funder_Margin_Rate] [varchar](2000) NULL,
	[Cost_Of_Capital] [varchar](2000) NULL,
	[Scenario_Funder_Margin_Rate] [varchar](2000) NULL,
	[PI_Novellus_Net_Fees] [varchar](2000) NULL,
	[94_ECB_Additional] [varchar](2000) NULL,
	[Provision_For_Bad_Debt] [varchar](2000) NULL,
	[Exclude_From_BI] [varchar](2000) NULL,
	[Include_In_CSX_BI] [varchar](2000) NULL,
	[Interest_Period_1_Start] [varchar](2000) NULL,
	[Interest_Period_1_End] [varchar](2000) NULL,
	[Interest_Period_1_Rate] [varchar](2000) NULL,
	[Column 283] [varchar](2000) NULL,
	[Column 284] [varchar](2000) NULL,
	[Column 285] [varchar](2000) NULL,
	[Column 286] [varchar](2000) NULL,
	[Contractual start date] [varchar](2000) NULL,
	[Initial advance payment date] [varchar](2000) NULL,
	[Eff int] [varchar](2000) NULL,
	[Column 290] [varchar](2000) NULL
) ON [PRIMARY]
GO
