USE [PBITRANSFORMATION]
GO
/****** Object:  View [dbo].[vw_TableMasterLoanAll]    Script Date: 02/09/2024 17:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_TableMasterLoanAll] as
SELECT distinct  trim([Novellus_Ref]) [Novellus_Ref]
      ,[Private_Investor]
      ,[Sterling_Or_Euro]
      ,trim([Loan_Name]) [Loan_Name]
      ,[Back2Back_Loan]
      ,[Linked_Loan]
      ,[Cross_Collateralised_Loan]
      ,[Associated_Loan]
      ,[Loan_Type]
      ,[Loan_Purpose]
      ,[Loan_Status]
      ,[Loan_notes]
      ,[Initial_Enquiry_Handler]
      ,[Underwriter]
      ,[Borrower]
      ,[Borrower_Contact]
      ,[Aborted_Reason]
      ,[Broker]
      ,[Asset_Type]
      ,[Asset_Type_Development_End]
      ,[Total_Number_of_Security_Assets]
      ,[Security_Address_Line_1]
      ,[Security_Address_Line_2]
      ,[Security_Address_Line_3]
      ,[Security_Town_City]
      ,[County]
      ,[Security_Postcode]
      ,[Lender]
      ,[Interest_Calculation_Type]
      ,[Interest_on_Retained_Interest]
      ,[TermLoans_Table]
      ,[Interest_Payments]
      ,[Interest_Income_Accruals_Post_To_1]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Interest_Income_Accruals_Post_To_1_Code]) [Interest_Income_Accruals_Post_To_1_Code]
      ,[Interest_Income_Accruals_Post_To_2]
      ,[Interest_Income_Accruals_Post_To_2_Code]
      ,[Interest_Expense_Accruals_Post_To_1]
      ,[Interest_Expense_Accruals_Post_To_1_Code]
      ,[Interest_Expense_Accruals_Post_To_2]
      ,[Interest_Expense_Accruals_Post_To_2_Code]
      ,[Interest_Calculation_Supported]
      ,[Capital_Account_Post_To_1]
      ,[Capital_Account_Post_To_1_Code]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Interest_Year_Basis]) [Interest_Year_Basis]
      ,[Interest_Type]
      ,[Interest_Rate_Change_Frequency]
      ,[Interest_Rate_Change_Date]
      ,[Interest_Rate_Type]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Bank_Rate]) [Bank_Rate]
      ,[Enquiry_Date]
      ,[Quoted]
      ,[Date_Quoted]
      ,[Quote_Approved_By_1]
      ,[Quote_Approved_Date_1]
      ,[Quote_Approved_By_2]
      ,[Quote_Approved_Date_2]
      ,[Date_Quote_Expires]
      ,[Date_Quote_Accepted]
      ,[App_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([App_Amount])[App_Amount]
      ,[Date_App_Fee_Received]
      ,[Date_App_Form_Received]
      ,[Date_NBOL_Issued]
      ,[NBOL_Approved_By_1]
      ,[NBOL_Approved_Date_1]
      ,[NBOL_Approved_By_2]
      ,[NBOL_Approved_Date_2]
      ,[Date_NBOL_Expiry]
      ,[Commitment_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Commitment_Fee_Amount ]) [ Commitment_Fee_Amount ]
      ,[Date_NBOL_Signed]
      ,[Days_Taken_To_Complete_NBOL]
      ,[Date_Commitment_Fee_Paid]
      ,[Commitment_Fee_Refund_Period_Start_Date]
      ,[Commitment_Fee_Refund_Period_Days]
      ,[Commitment_Fee_Refund_Date]
      ,[Commitment_Fee_Refund]
      ,[Date_Valuation_Quoted]
      ,[Valuer]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Valuation_Fee]) [Valuation_Fee]
      ,[Date_Valuation_Accepted]
      ,[Date_Valuation_Fee_Paid_Client]
      ,[Date_Valuation_Fee_Paid_Novellus]
      ,[Date_Valuation_Instructed]
      ,[Date_Valuation_Inspection]
      ,[Date_Valuation_Completed]
      ,[QS_AM]
      ,[Date_QS_AM_Quote]
      ,[Date_QS_AM_Appointed]
      ,[Date_QS_AM_Fee_Received]
      ,[Date_QS_AM_Target_Date_Report]
      ,[Date_QS_AM_Inspection]
      ,[Date_QS_AM_Report_Issued]
      ,[Days_Taken_To_Issue_QS_AM_Report]
      ,[Lawyer]
      ,[Date_Lawyer_Quote]
      ,[Date_Lawyer_Undertaking_Received]
      ,[Lawyer_Response_Time]
      ,[Date_Report_On_Title_Received]
      ,[Insurance_Renewal_Date]
      ,[Insurance_Novellus_Interest]
      ,[Date_Estimated_Completion]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Gross_Loan]) [Gross_Loan]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Total_Expected_Valuation]) [Total_Expected_Valuation]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Gross_LTV]) [Gross_LTV]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Rate_Per_Month]) [Rate_Per_Month]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Bank_Rate_Quote]) [Bank_Rate_Quote]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Total_Rate_Per_Month]) [Total_Rate_Per_Month]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_Months]) [Term_Months]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Build_Drawdown_Number])[Build_Drawdown_Number]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Total_Interest])[Total_Interest]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Arrangement_Fee_Percentage]) [Arrangement_Fee_Percentage]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Arrangement_Fee]) [Arrangement_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Legal_Fees]) [Legal_Fees]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Title_Insurance]) [Title_Insurance]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Broker_Fee_Percentage])[Broker_Fee_Percentage]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Broker_Fee]) [Broker_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Novellus_Monitoring_Fee]) [Novellus_Monitoring_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Bank_Transfer_Fees]) [Bank_Transfer_Fees]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Exit_Fee_Percentage]) [Exit_Fee_Percentage]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Exit_Fee]) [Exit_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Redemption_Fee]) [Redemption_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Fees_Added]) [Fees_Added]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Net_Loan] ) [Net_Loan]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Construction_Cost_Borrower]) [Construction_Cost_Borrower]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Construction_Cost_Underwriter]) [Construction_Cost_Underwriter]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Gross_Loan_Actual]) [Gross_Loan_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Construction_Cost_Actual]) [Construction_Cost_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Gross_Day_1_Actual]) [Gross_Day_1_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Valuation_Day_1]) [Valuation_Day_1]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Valuation_Actual]) [Valuation_Actual]
      ,[GROSS DRAWN TO DATE]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Current_Valuation]) [Current_Valuation]
      ,[AS IS LTV]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Gross_LTV_Day_1]) [Gross_LTV_Day_1]
     ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Gross_LTV_Actual]) [Gross_LTV_Actual] 
     ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Rate_Annualised_Actual]) [Rate_Annualised_Actual]
    ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Rate_Per_Month_Actual]) [Rate_Per_Month_Actual]
     ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Bank_Rate_Actual])  [Bank_Rate_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Total_Rate_Per_Month_Actual]) [Total_Rate_Per_Month_Actual]
     ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Floor_Actual]) [Floor_Actual]
     ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_Months_Actual]) [Term_Months_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Total_Interest_Actual]) [Total_Interest_Actual]
    ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Compliance_Fee_Actual]) [Compliance_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Arrangement_Fee_Percentage_Actual]) [Arrangement_Fee_Percentage_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Arrangement_Fee_Actual]) [Arrangement_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Legal_Fees_Actual]) [Legal_Fees_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Title_Insurance_Actual]) [Title_Insurance_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Broker_Fee_Percentage_Actual]) [Broker_Fee_Percentage_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Broker_Fee_Actual]) [Broker_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Initial_AM_Report_Fee_Actual]) [Initial_AM_Report_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Subsequent_AM_Fee_Per_Draw]) [Subsequent_AM_Fee_Per_Draw]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([AM_Monitoring_Fee_Actual]) [AM_Monitoring_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Estimated_AM_Monitoring_Fees]) [Estimated_AM_Monitoring_Fees]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Initial_QS_Fee_Actual]) [Initial_QS_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Subsequent_QS_Fee_Per_Draw]) [Subsequent_QS_Fee_Per_Draw]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([QS_Monitoring_Fee_Actual]) [QS_Monitoring_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Estimated_QS_Monitoring_Fees]) [Estimated_QS_Monitoring_Fees]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Novellus_Monitoring_Fees_Initial]) [Novellus_Monitoring_Fees_Initial]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Novellus_Monitoring_Fees_Per_Draw]) [Novellus_Monitoring_Fees_Per_Draw]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Novellus_Monitoring_Fees_Drawdown]) [Novellus_Monitoring_Fees_Drawdown]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Novellus_Monitoring_Fees_Asset_Management]) [Novellus_Monitoring_Fees_Asset_Management]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Estimated_Novellus_Monitoring_Fees]) [Estimated_Novellus_Monitoring_Fees]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Site_Visit_Fee]) [Site_Visit_Fee]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Bank_Transfer_Fee_Actual])[Bank_Transfer_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_ExitFee1_Percentage_Actual]) [Term_ExitFee1_Percentage_Actual]
      ,[Term_ExitFee1_Date_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_ExitFee2_Percentage_Actual]) [Term_ExitFee2_Percentage_Actual]
      ,[Term_ExitFee2_Date_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_ExitFee3_Percentage_Actual]) [Term_ExitFee3_Percentage_Actual]
      ,[Term_ExitFee3_Date_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_ExitFee4_Percentage_Actual]) [Term_ExitFee4_Percentage_Actual]
      ,[Term_ExitFee4_Date_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Term_ExitFee5_Percentage_Actual]) [Term_ExitFee5_Percentage_Actual]
      ,[Term_ExitFee5_Date_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Exit_Fee_Percentage_Actual]) [Exit_Fee_Percentage_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Exit_Fee_Actual]) [Exit_Fee_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Redemption_Fee_Percentage_Actual]) [Redemption_Fee_Percentage_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Redemption_Fee_Actual]) [Redemption_Fee_Actual]
      ,([Redemption_Fee_Owed]) [Redemption_Fee_Owed]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Receiver_Fees_Actual]) [Receiver_Fees_Actual]
      ,[Default_Interest_Calculation_Type]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Contractual_Default_Interest]) [Contractual_Default_Interest]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Default_Interest_Percentage_Actual]) [Default_Interest_Percentage_Actual]
      ,([Default_Loan_Amount]) [Default_Loan_Amount]
    ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Default_Interest_Actual]) [Default_Interest_Actual]
      ,([Default_Interest_Actual_To_Date]) [Default_Interest_Actual_To_Date]
    ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Fees_Added_Actual]) [Fees_Added_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Interest_Day_1_Actual]) [Interest_Day_1_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Net_Day_1_Actual]) [Net_Day_1_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Net_Day_1_Actual_CashBook]) [Net_Day_1_Actual_CashBook]
     ,([Net_Loan_Actual]) [Net_Loan_Actual]
      ,[Credit_Signed_Off_By_1]
      ,[Credit_Sign_Off_Date_1]
      ,[Credit_Sign_Off_By_2]
      ,[Credit_Sign_Off_Date_2]
      ,[Completion_Date]
      ,[Contractual_Start_Date]
      ,[Contractual_End_Date]
      ,[Redemption_Date]
      ,[Redemption_Date_For_Reporting]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Extra_Redemption_Fees ]) [ Extra_Redemption_Fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Admin_fees_actual ]) [ Admin_fees_actual ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Planning_report_fees_actual ]) [ Planning_report_fees_actual ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_extension ]) [ Legal_fees_extension ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_lease_consent ]) [ Legal_fees_lease_consent ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_redemption ]) [ Legal_fees_redemption ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_Ukopinion ]) [ Legal_fees_Ukopinion ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_additional_drawdowns ]) [ Legal_fees_additional_drawdowns ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_duty_of_care ]) [ Legal_fees_duty_of_care ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_receiver ]) [ Legal_fees_receiver ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_recovery ]) [ Legal_fees_recovery ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Legal_fees_enforcement ]) [ Legal_fees_enforcement ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Redemption_Statement_Fee_Actual ]) [ Redemption_Statement_Fee_Actual ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Novellus_lease_consent_fees ]) [ Novellus_lease_consent_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Account_statement_fees ]) [ Account_statement_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Arrears_fees ]) [ Arrears_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Repossessed_property_insurance_fees ]) [ Repossessed_property_insurance_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Early_repayment_charge_fees ]) [ Early_repayment_charge_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Eviction_cancellation_fees ]) [ Eviction_cancellation_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Formal_demand_notice_fees ]) [ Formal_demand_notice_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Monthly_default_charge_fees ]) [ Monthly_default_charge_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Repossession_fees ]) [ Repossession_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Reference_fees ]) [ Reference_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Revaluation_fees ]) [ Revaluation_fees ]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([ Charge_consent_fees ]) [ Charge_consent_fees ]
      ,[ Default_Yes_No ]
      ,[Default_Start_Date]
      ,[Default_End_Date]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Default_Loan_Amount_2]) [Default_Loan_Amount_2]
      ,[Default_Start_Date_2]
      ,[Default_End_Date_2]
      ,[Extension_Y N]
      ,[Extension_Start_Date]
      ,[Extension_End_Date]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Extension_Rate_PCM]) [Extension_Rate_PCM]
      ,[Extension_Loan_Amount]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Extension_Interest_Actual]) [Extension_Interest_Actual]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Extension_Interest_Actual_To_Date]) [Extension_Interest_Actual_To_Date]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Extension_Fee_Percentage]) [Extension_Fee_Percentage]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Total_Extension_Fee]) [Total_Extension_Fee]
      ,[Notification_Date]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Notice_Period_Days]) [Notice_Period_Days]
      ,[Minimum_Term_Days]
      ,[Serviced_Interest_Payment_Day]
      ,[Serviced_Capital_Payment_Day]
      ,[Day_1_Net_Loan_Advance]
      ,[Build_Drawdown_Number_Actual]
      ,[Drawdown_Tranche]
      ,[Nonutilisation_Fees_Actual]
      ,[Notes]
      ,[Square_Footage]
      ,[Price_Per_Square_Foot]
      ,[Total_Spend_To_Date]
      ,[Estimated_Construction_Time]
      ,[Estimated_Sale_time]
      ,[Constuction_Type]
      ,[Construction_Style]
      ,[Number_Of_Units]
      ,[Number_Of_Floors]
      ,[Height_Of_Building]
      ,[Ledger_Code]
      ,[Start_Date]
      ,[Term_Date]
      ,[Funder]
      ,[Funder_Arrangement_Fee_Pct_Actual] as Funder_Arrangement_Fee_Pct_Actual_Temp
      ,[Funder_Arrangement_Fee_Amount_Actual] as [Funder_Arrangement_Fee_Amount_Actual_temp]
      ,[Funder_Interest_Calculation_Type]
      ,[Funder_Interest_Payments]
      ,[Funder_Interest_Rate_Change_Frequency]
      ,[Funder_Interest_Rate_Type]
      ,[Funder_Bank_Rate]
      ,[Funder_Margin_Rate]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Cost_Of_Capital]) [Cost_Of_Capital]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([Scenario_Funder_Margin_Rate]) [Scenario_Funder_Margin_Rate]
      ,[dbo].[F_DATATYPE_CONVERSION_NUMERIC]([PI_Novellus_Net_Fees]) [PI_Novellus_Net_Fees]
      ,[94_ECB_Additional]
      ,[Provision_For_Bad_Debt]
      ,[Exclude_From_BI]
      ,[Include_In_CSX_BI]
      ,[Interest_Period_1_Start]
      ,[Interest_Period_1_End]
      ,[Interest_Period_1_Rate]
      ,[Column 283]
      ,[Column 284]
      ,[Column 285]
      ,[Column 286]
      ,[Contractual start date]
      ,[Initial advance payment date]
      ,[Eff int]
      ,[Column 290],
	  case when novellus_share is null then 1 else novellus_share end novellus_share,
	  case when Scenario_Funder_Margin_Rate is not null and Scenario_Funder_Margin_Rate>'0' then '0' else Funder_Arrangement_Fee_Amount_Actual end Funder_Arrangement_Fee_Amount_Actual
,
	  case when Scenario_Funder_Margin_Rate is not null and Scenario_Funder_Margin_Rate>'0' then '0' else [Funder_Arrangement_Fee_Pct_Actual] end [Funder_Arrangement_Fee_Pct_Actual]

  FROM [PBITRANSFORMATION].[dbo].[MASTER_DATA] MD
    left outer join 
[dbo].[LENDER] L
on l.name=MD.lender
  where 1=1 and
  (loan_name is not null
  and loan_name<>'')
GO
